@page "/users/edit/{id:int}"
@inject HttpClient _http

@using Labb2Client.Helpers

<h4>Game details @Id</h4>

@using System.ComponentModel.DataAnnotations
@inject NavigationManager _navigationManager

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Firstname"
                              @bind-Value="model.Firstname" For="@(() => model.Firstname)"/>
                <MudTextField Label="Lastname" Class="mt-3"
                              @bind-Value="model.Lastname" For="@(() => model.Lastname)"/>
                <MudTextField Label="Email" Class="mt-3"
                              @bind-Value="model.Email" For="@(() => model.Email)" />
                <MudTextField Label="PhoneNumber" Class="mt-3"
                              @bind-Value="model.PhoneNumber" For="@(() => model.PhoneNumber)"/>
                <MudTextField Label="Adress" Class="mt-3"
                              @bind-Value="model.Adress" For="@(() => model.Adress)"/>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Edit</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
</EditForm>

@code {
    private UserForList model = new UserForList();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        model = await _http.GetFromJsonAsync<UserForList>(Constants.User + Id);
    }
    private void OnValidSubmit(EditContext context)
    {
        _http.PutAsJsonAsync<UserForList>(Constants.User + Id, model);
        _navigationManager.NavigateTo("/");

    }
}
